%lato-300{
    font-family: "Lato-light",sans-serif;
    font-weight: 300;
}
%lato-400{
    font-family: "Lato-Regular",sans-serif;
    font-weight: 400;
}
%lato-500{
    font-family: "Lato-Medium",sans-serif;
    font-weight: 500;
}
%lato-700{
    font-family: "Lato-Bold",sans-serif;
    font-weight: 700;
}
%unisans-700{
    font-family: "UniSansBold",sans-serif;
    font-weight: 700;
}